/* table of contents
- global
- layout
- popup
- footer
*/

/* =============
Global
============= */
html,
body {
	margin: 0rem;
	width: 100%;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background: linear-gradient(to bottom, #8b8686, #ffffff);
}

/* =============
layout
============= */
main {
	width: 100%;
	height: 100%;
	display: flex;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #d9d9d9;
	width: 100%;
}

header img {
	margin-left: 0rem;
	width: 10%;
}
header .header-txt {
	display: flex;
	align-items: center;
	padding-right: 5rem;
}

header .header-txt a {
	margin-left: 5rem;
	text-decoration: none;
	color: #000000;
}

@media only screen and (min-width: 651px) and (max-width: 1024px) {
	html,
	body {
		width: 100%;
	}
	header {
		width: 100%;
	}
	footer {
		width: 100%;
	}
}
@media only screen and (max-width: 650px) {
	header .header-txt {
		display: none;
	}
	header {
		width: 100%;
	}
	footer {
		width: 100%;
	}
	html,
	body {
		width: 116%;
	}
}

/* =============
popup
============= */

button {
	background-color: #96a2e0; /* fill color */
	color: black; /* text color */
	border: none; /* removes default border */
	border-radius: 15px; /* rounded corners to create a pill shape */
	padding: 5px 10px; /* reduced padding inside the button */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px; /* reduced font size */
	margin: 2px 1px; /* optional margin around buttons */
	cursor: pointer; /* changes the cursor to a pointer when hovering over the button */
	transition: 0.3s; /* optional smooth transition effect */
}

button:hover {
	background-color: #7a8bb4; /* optional: slightly darker background on hover */
}

.cid-text {
	display: inline-block; /* allows the use of width and text-overflow */
	width: 200px;
	white-space: nowrap; /* keeps the text on a single line */
	overflow: hidden; /* ensures that the text doesn't spill over */
	text-overflow: ellipsis; /* adds the ellipsis when the text overflows */
	vertical-align: middle; /* centers the text vertically on the line */
	line-height: normal; /* adjusts the line height to match surrounding text */
}

/* =============
footer
============= */

footer {
	width: 100%;
	display: flex;
	position: relative;
	left: 0;
	bottom: 7%;
}

footer a {
	padding: 0 3rem;
	text-decoration: none;
	color: black;
}

footer img {
	width: 3.6rem;
	margin-right: 2rem;
}

.footer-logo {
	flex: 1;
	text-align: center;
	margin-left: 10rem;
	align-self: center;
}

.footer-icon {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 750px) {
	.footer-logo {
		margin: 0;
	}
	.footer-icon {
		display: none;
	}
}

@media only screen and (max-width: 450px) {
	.footer-icon {
		display: none;
	}
}
